<!DOCTYPE html>
<html ng-app="gifChat">
	<head>
		<title>Gif-Chat</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
		<link rel="stylesheet" href="styles.css">
	</head>
	<body ng-controller="mainController">

		
		<div class='container'>
			<h1>Gif Messages</h1>
			<form class="centerMe">
				<input type="text" class=" text-box sameLine form-control" placeholder="Search" ng-model="message">
				<button class="sameLine btn btn-default" ng-click="findGif()">Submit</button>
			</form>

			<img ng-repeat="imgSrc in gifs" ng-src="{{imgSrc}}">
	
		</div>








		
		<script src="js/app.js"></script>
		<script src="js/mainControl.js"></script>
		<script src="js/mainService.js"></script>


	</body>
</html>